html{
  scroll-behavior: smooth;
}

html, body
{
    height: 100%;
    width: 100%;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
#page-1
{
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}
#page-2
{
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}
#page-3
{
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}
#page-4
{
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}
#page-5
{
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}
#page-6
{
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}
.container{
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
  img {
	max-width: 300px;
	height: auto;
}
.flex-container {
  background-color: #e0e0e0;
    position: sticky;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container div h1{
  color: #ffffff;
  text-align: right !important;
  font-size: 35px;
}
.flex-container div {
  /* margin-right: 110px; */
  padding: 12px;
  
}
.flex-container .align-red{
  text-align: right;
  margin-right: -135px;
}

.flex-container-1 {
  background-color: #e0e0e0;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 230px
}
.flex-container-1 .image{ 
 
  padding: 10px;
} 
.flex-container-1 .text{ 
 
  padding: 10px;
}
div .status-head{
  align-items: right;
}

.flex-item {
  flex-basis: 30%;
  background-color: red;
  width: 250px;
  margin-right: 5px;
  letter-spacing: 1px;
  margin-top: -10px;
}

div h2 {
  content: "";
  display: block;
  padding-top: 15px;
  border-bottom: 5px solid darkblue;
}
/* .div-right{
  text-align: right;
} */
.head-div{
  margin-top: 10px;
}



div.footer {
  /* position: -webkit-sticky;  <----- required (for WebKit) */
  bottom: 10px;  /* <----------------- required              */
  background-color: #F0F0F0;
  margin-top: 200px;
  color: #000000;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  /* padding: 5px; */
 
}
.column table{
  background-color: #f2f2f2;
}
.column-1 {
  float: left;
  width: 50%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid #000000;
}

th, td {
  /* text-align: left; */
  padding: 16px;
  border: 2px solid #000000;
} */

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.ongrid{
  text-align: right;
}

.div-pad{
  padding-top: 15px;
}

.green-col{
  color: green;
}

.red-col{
  color:red;
}

.first-column{
  float: left;
  width: 100%;
  padding: 5px;
  overflow-x: auto;
}
.first-column th{
  text-align: left;
  background-color: #f2f2f2;
}

.pad-let{
  padding-left: 5pt;
text-indent: 0pt;
text-align: left;
}
.page-1-num{
  font-size: 25px;
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html{
    scroll-behavior: smooth;
  }
  
  html, body
  {
      height: 100%;
      width: 100%;
  }
  
  *{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  #page-1
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-2
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-3
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-4
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-5
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-6
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  .container{
    width: 100%;
    background-color: #fff;
    padding: 35px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
    img {
    max-width: 100px;
    height: auto;
  }
  .flex-container {
    background-color: #e0e0e0;
      position: sticky;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .flex-container div h1{
    color: #ffffff;
    font-size: 35px;
    margin-right: 112px;
  }
  /* .flex-container div {
    margin-right: 110px;
    padding: 10px;
    
  }*/
  /* .flex-container .align-red{
    text-align: right;
    margin-right: -135px;
  }  */
  
  .flex-item {
    flex-basis: 30%;
    background-color: red;
    width: 90px;
    letter-spacing: 1px;
    margin-right: 106px !important;
  } 

  .flex-container-1 {
    background-color: #e0e0e0;
      display: flex;
      align-items: center;
      padding: 10px 0px 10px 230px
  }
  .flex-container-1 .image{ 
   
    padding: 10px;
  } 
  .flex-container-1 .text{ 
   
    padding: 10px;
  }
  div .status-head{
    align-items: right;
  }
  /* span.status-color{
    color: green;
  } */
  
  
  div h2 {
    content: "";
    display: block;
    
    padding-top: 15px;
    border-bottom: 5px solid darkblue;
  }
  /* .div-right{
    text-align: right;
  } */
  .head-div{
    margin-top: 10px;
  }
  
  
  
  div.footer {
    /* position: -webkit-sticky;  <----- required (for WebKit) */
    bottom: 10px;  /* <----------------- required              */
    background-color: #F0F0F0;
    margin-top: 200px;
    color: #000000;
  }
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    /* padding: 5px; */
   
  }
  .column table{
    background-color: #f2f2f2;
  }
  .column-1 {
    float: left;
    width: 50%;
    /* padding: 5px; */
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #000000;
  }
  
  th, td {
    /* text-align: left; */
    padding: 16px;
    border: 2px solid #000000;
  } */
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  .ongrid{
    text-align: right;
  }
  
  .div-pad{
    padding-top: 15px;
  }
  
  .green-col{
    color: green;
  }
  
  .red-col{
    color:red;
  }
  
  .first-column{
    float: left;
    width: 100%;
    padding: 5px;
    overflow-x: auto;
  }
  .first-column th{
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .pad-let{
    padding-left: 5pt;
  text-indent: 0pt;
  text-align: left;
  }
  .page-1-num{
    font-size: 25px;
    font-weight: bold;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html{
    scroll-behavior: smooth;
  }
  
  html, body
  {
      height: 100%;
      width: 100%;
  }
  
  *{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  #page-1
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-2
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-3
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-4
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-5
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-6
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  .container{
    width: 100%;
    background-color: #fff;
    padding: 35px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
    img {
    max-width: 100px;
    height: auto;
  }
  .flex-container {
    background-color: #e0e0e0;
      position: sticky;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .flex-container div h1{
    color: #ffffff;
    text-align: right !important;
    font-size: 35px;
  }
  .flex-container div {
    /* background-color: #c9d1cb; 
    */
    margin-right: 110px;
    padding: 10px;
    /* align-items: right; */
    
  }
  .flex-container .align-red{
    text-align: right;
    margin-right: -135px;
  }
  
  .flex-container-1 {
    background-color: #e0e0e0;
      display: flex;
      align-items: center;
      padding: 10px 0px 10px 230px
  }
  .flex-container-1 .image{ 
   
    padding: 10px;
  } 
  .flex-container-1 .text{ 
   
    padding: 10px;
  }
  div .status-head{
    align-items: right;
  }
  /* span.status-color{
    color: green;
  } */
  .flex-item {
    flex-basis: 30%;
    background-color: red;
    width: 250px;
    margin-right: 5px;
    letter-spacing: 1px;
    margin-top: -10px;
  }
  
  div h2 {
    content: "";
    display: block;
    
    padding-top: 15px;
    border-bottom: 5px solid darkblue;
  }
  /* .div-right{
    text-align: right;
  } */
  .head-div{
    margin-top: 10px;
  }
  
  
  
  div.footer {
   /* position: -webkit-sticky;   <----- required (for WebKit) */
    bottom: 10px;  /* <----------------- required              */
    background-color: #F0F0F0;
    margin-top: 200px;
    color: #000000;
  }
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    /* padding: 5px; */
   
  }
  .column table{
    background-color: #f2f2f2;
  }
  .column-1 {
    float: left;
    width: 50%;
    /* padding: 5px; */
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #000000;
  }
  
  th, td {
    /* text-align: left; */
    padding: 16px;
    border: 2px solid #000000;
  } */
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  .ongrid{
    text-align: right;
  }
  
  .div-pad{
    padding-top: 15px;
  }
  
  .green-col{
    color: green;
  }
  
  .red-col{
    color:red;
  }
  
  .first-column{
    float: left;
    width: 100%;
    padding: 5px;
    overflow-x: auto;
  }
  .first-column th{
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .pad-let{
    padding-left: 5pt;
  text-indent: 0pt;
  text-align: left;
  }
  .page-1-num{
    font-size: 25px;
    font-weight: bold;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html{
    scroll-behavior: smooth;
  }
  
  html, body
  {
      height: 100%;
      width: 100%;
  }
  
  *{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  #page-1
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-2
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-3
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-4
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-5
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-6
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  .container{
    /* width: 100%; */
    background-color: #fff;
    padding: 35px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
    img {
    max-width: 100px;
    height: auto;
  }
  .flex-container {
    background-color: #e0e0e0;
      position: sticky;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .flex-container div h1{
    color: #ffffff;
    text-align: right !important;
    font-size: 35px;
  }
  .flex-container div {
    /* background-color: #c9d1cb; 
    */
    margin-right: 110px;
    padding: 10px;
    /* align-items: right; */
    
  }
  .flex-container .align-red{
    text-align: right;
    margin-right: -135px;
  }
  
  .flex-container-1 {
    background-color: #e0e0e0;
      display: flex;
      align-items: center;
      padding: 10px 0px 10px 230px
  }
  .flex-container-1 .image{ 
   
    padding: 10px;
  } 
  .flex-container-1 .text{ 
   
    padding: 10px;
  }
  div .status-head{
    align-items: right;
  }
  /* span.status-color{
    color: green;
  } */
  .flex-item {
    flex-basis: 30%;
    background-color: red;
    width: 250px;
    margin-right: 5px;
    letter-spacing: 1px;
    margin-top: -10px;
  }
  
  div h2 {
    content: "";
    display: block;
    
    padding-top: 15px;
    border-bottom: 5px solid darkblue;
  }
  /* .div-right{
    text-align: right;
  } */
  .head-div{
    margin-top: 10px;
  }
  
  
  
  div.footer {
   /* position: -webkit-sticky;   <----- required (for WebKit) */
    bottom: 10px;  /* <----------------- required              */
    background-color: #F0F0F0;
    margin-top: 200px;
    color: #000000;
  }
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    /* padding: 5px; */
   
  }
  .column table{
    background-color: #f2f2f2;
  }
  .column-1 {
    float: left;
    width: 50%;
    /* padding: 5px; */
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #000000;
  }
  
  th, td {
    /* text-align: left; */
    padding: 16px;
    border: 2px solid #000000;
  } */
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  .ongrid{
    text-align: right;
  }
  
  .div-pad{
    padding-top: 15px;
  }
  
  .green-col{
    color: green;
  }
  
  .red-col{
    color:red;
  }
  
  .first-column{
    float: left;
    width: 100%;
    padding: 5px;
    overflow-x: auto;
  }
  .first-column th{
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .pad-let{
    padding-left: 5pt;
  text-indent: 0pt;
  text-align: left;
  }
  .page-1-num{
    font-size: 25px;
    font-weight: bold;
  }
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html{
    scroll-behavior: smooth;
  }
  
  html, body
  {
      height: 100%;
      width: 100%;
  }
  
  *{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  #page-1
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-2
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-3
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-4
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-5
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-6
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  .container{
    /* width: 100%; */
    background-color: #fff;
    padding: 35px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
    img {
    max-width: 100px;
    height: auto;
  }
  .flex-container {
    background-color: #e0e0e0;
      position: sticky;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .flex-container div h1{
    color: #ffffff;
    text-align: right !important;
    font-size: 35px;
  }
  .flex-container div {
    /* background-color: #c9d1cb; 
    */
    margin-right: 110px;
    padding: 10px;
    /* align-items: right; */
    
  }
  .flex-container .align-red{
    text-align: right;
    margin-right: -135px;
  }
  
  .flex-container-1 {
    background-color: #e0e0e0;
      display: flex;
      align-items: center;
      padding: 10px 0px 10px 230px
  }
  .flex-container-1 .image{ 
   
    padding: 10px;
  } 
  .flex-container-1 .text{ 
   
    padding: 10px;
  }
  div .status-head{
    align-items: right;
  }
  /* span.status-color{
    color: green;
  } */
  .flex-item {
    flex-basis: 30%;
    background-color: red;
    width: 250px;
    margin-right: 5px;
    letter-spacing: 1px;
    margin-top: -10px;
  }
  
  div h2 {
    content: "";
    display: block;
    
    padding-top: 15px;
    border-bottom: 5px solid darkblue;
  }
  /* .div-right{
    text-align: right;
  } */
  .head-div{
    margin-top: 10px;
  }
  
  
  
  div.footer {
     /* position: -webkit-sticky; <----- required (for WebKit) */
    bottom: 10px;  /* <----------------- required              */
    background-color: #F0F0F0;
    margin-top: 200px;
    color: #000000;
  }
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    /* padding: 5px; */
   
  }
  .column table{
    background-color: #f2f2f2;
  }
  .column-1 {
    float: left;
    width: 50%;
    /* padding: 5px; */
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #000000;
  }
  
  th, td {
    /* text-align: left; */
    padding: 16px;
    border: 2px solid #000000;
  } */
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  .ongrid{
    text-align: right;
  }
  
  .div-pad{
    padding-top: 15px;
  }
  
  .green-col{
    color: green;
  }
  
  .red-col{
    color:red;
  }
  
  .first-column{
    float: left;
    width: 100%;
    padding: 5px;
    overflow-x: auto;
  }
  .first-column th{
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .pad-let{
    padding-left: 5pt;
  text-indent: 0pt;
  text-align: left;
  }
  .page-1-num{
    font-size: 25px;
    font-weight: bold;
  }
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html{
    scroll-behavior: smooth;
  }
  
  html, body
  {
      height: 100%;
      width: 100%;
  }
  
  *{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  #page-1
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-2
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-3
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-4
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-5
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  #page-6
  {
      justify-content: center;
      align-items: center;
      padding: 50px;
      width: 100%;
  }
  .container{
    /* width: 100%; */
    background-color: #fff;
    padding: 35px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
    img {
    max-width: 300px;
    height: auto;
  }
  .flex-container {
    background-color: #e0e0e0;
      position: sticky;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .flex-container div h1{
    color: #ffffff;
    text-align: right !important;
    font-size: 35px;
  }
  .flex-container div {
    /* background-color: #c9d1cb; 
    */
    margin-right: 110px;
    padding: 10px;
    /* align-items: right; */
    
  }
  .flex-container .align-red{
    text-align: right;
    margin-right: -135px;
  }
  
  .flex-container-1 {
    background-color: #e0e0e0;
      display: flex;
      align-items: center;
      padding: 10px 0px 10px 230px
  }
  .flex-container-1 .image{ 
   
    padding: 10px;
  } 
  .flex-container-1 .text{ 
   
    padding: 10px;
  }
  div .status-head{
    align-items: right;
  }
  /* span.status-color{
    color: green;
  } */
  .flex-item {
    flex-basis: 30%;
    background-color: red;
    width: 250px;
    margin-right: 5px;
    letter-spacing: 1px;
    margin-top: -10px;
  }
  
  div h2 {
    content: "";
    display: block;
    
    padding-top: 15px;
    border-bottom: 5px solid darkblue;
  }
  /* .div-right{
    text-align: right;
  } */
  .head-div{
    margin-top: 10px;
  }
  
  
  
  div.footer {
   /* position: -webkit-sticky;   <----- required (for WebKit) */
    bottom: 10px;  /* <----------------- required              */
    background-color: #F0F0F0;
    margin-top: 200px;
    color: #000000;
  }
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    /* padding: 5px; */
   
  }
  .column table{
    background-color: #f2f2f2;
  }
  .column-1 {
    float: left;
    width: 50%;
    /* padding: 5px; */
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #000000;
  }
  
  th, td {
    /* text-align: left; */
    padding: 16px;
    border: 2px solid #000000;
  } */
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  .ongrid{
    text-align: right;
  }
  
  .div-pad{
    padding-top: 15px;
  }
  
  .green-col{
    color: green;
  }
  
  .red-col{
    color:red;
  }
  
  .first-column{
    float: left;
    width: 100%;
    padding: 5px;
    overflow-x: auto;
  }
  .first-column th{
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .pad-let{
    padding-left: 5pt;
  text-indent: 0pt;
  text-align: left;
  }
  .page-1-num{
    font-size: 25px;
    font-weight: bold;
  }
  
}